name: Django CI/CD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    services:
      db:
        image: postgres:13
        env:
          POSTGRES_USER: toha
          POSTGRES_PASSWORD: 1234
          POSTGRES_DB: ecom_db
        ports: ['5432:5432']
        options: >-
          --health-cmd="pg_isready -U toha"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run migrations
        working-directory: ./ecom
        run: python manage.py migrate

      - name: Run tests
        working-directory: ./ecom
        run: python manage.py test

      - name: Build Docker image
        run: docker build -t django-ecom .

      - name: Run Docker container
        run: docker run -d -p 8000:8000 django-ecom
